body{
    background-color: rgb(96,95,109)
}
.mainContainer{
    margin:0 auto;
    border: 4px solid;
    margin-top:100px;
    border-radius: 4px;
    background-color: rgb(55,58,93);
    width: 80%;
   
}
.mainHeading{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 5px;
    color:rgb(255,255,251)
}
.searchBox{
    border-radius: 5px;
    width:30%;
    height:25px;
    font-size: 13px;
    border:none;
    font-family: 'Varela Round', sans-serif;
}
.searchBoxnotify{
    border-radius: 5px;
    width:30%px;
    font-size: 13px;
    height:25px;
    border:none;
    box-shadow: 0 0 2.5px 2.5px red;
    font-family: 'Varela Round', sans-serif;

}
.button{
    border-radius: 5px;
    border:none;
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    height:25px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    background-color:rgb(255,255,255);
}
.button2{
    border-radius: 5px;
    border:none;
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 0 2.5px 2.5px red;
    height:25px;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    background-color:rgb(255,255,255);
}
.todos{
    min-height:50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    width:60%;
    height: fit-content;
    border:none;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    position: relative;
}
.headContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.titleicon{
    width:80px;
    display: inline;

}
.toggleicon{
    width:20px;
    display:inline  ;
    position: absolute;
    top:18px;
    left:30px;
    margin-left: 35px;
    margin-right: 5px;
}
.deleteicon{
    width:25px;
    position: absolute;
    top:15px;
    right:8px;
}
.editicon{
    width:22px; 
    position: absolute;
    top:15px;
    right:33px;
    margin-left: 5px;
}
.content{
    font-size:20px ;
    display:inline;
    margin-top:16px;
    font-family: 'Varela Round', sans-serif;
    
}
.emoji{
    width:200px;
   
}
.tagline{
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:rgb(255,255,251)
}
@media(max-width:600px){
    body{
        background-color: rgb(55,58,93);
        
    }
    .mainContainer{
        margin-top:0px;
        border:none;
        border-radius: 4px;
        background-color: rgb(55,58,93);
        width: 100%;
        
       
    }
    .headContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .titleicon{
        width:50px;
        display: inline;
        padding-bottom: 20px;
    
    }
    .mainHeading{
        font-family: 'Varela Round', sans-serif;
        font-size: 30px;
        font-weight: 700;
        padding-top: 0px;

    }
    .searchBox{
        width:50%;
    }
    .searchBoxnotify{
       width:50%;
    }
    .emoji{
        width:150px;
       
    }
    .todos{
        min-height:50px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom:20px;
        width:80%;
        border:none;
        border-radius: 5px;
        background-color: rgb(255,255,255);
        position: relative;
    }
}